@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #182747;
    --cor-secundaria: #D8D8D8;
    --cor-terciaria: #647E68;
    --cor-hover: #562B08;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 5% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.75rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__certificados {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    list-style-position: inside;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 20px;
}

.apresentacao__imagem__portfolio {
    width: 100%;
    height: 100%;
    border: 2px solid var(--cor-hover);
    border-radius: 20px;
}

.iframe__freeway {
    width: 500px;
    height: 450px;
    border-radius: 20px;
}

.iframe__pong {
    width: 600px;
    height: 450px;
    border-radius: 20px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 20px;
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.75rem;
    }

    .apresentacao__conteudo__certificados {
        font-size: 1.25rem;
    }
    .apresentacao__conteudo__subtitulo {
        font-size: 1.2rem;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.2rem;
    }

    .apresentacao__links__navegacao {
        font-size: 1.2rem
    }

    .apresentacao__links__navegacao__icone {
        width: 23px;
        height: 23px;
    }

    .apresentacao__imagem {
        width: 90%;
    }
    
    .iframe__freeway {
        width: 100%;
    }
    
    .iframe__pong {
        width: 100%;
    }

    .rodape__texto {
        width: auto;
        font-size: 1.2rem;
    }
}